name: Fast CI
on:
  push:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-excluding-paths
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ ubuntu-24.04, windows-2022 ]
        java: [ 8, 21 ]
      fail-fast: false
      max-parallel: 32
    name: CI on JDK ${{ matrix.java }} OS ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Test with build
        run: ./mvnw -V --no-transfer-progress clean package
