name: Fast CI
on:
  push:
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-excluding-paths
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ ubuntu-20.04, windows-2022 ]
        java: [ 8, 20 ]
      fail-fast: false
      max-parallel: 32
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Test with build
        run: ./mvnw -V --no-transfer-progress clean package
      - name: Test without build for slf4j v1
        run: ./mvnw -V --no-transfer-progress -P enable-slf4j-v1 dependency:tree surefire:test
